.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #c7c7c7;
  margin-bottom: 1rem;
}

.task-item h3,
.task-item p {
  margin: 0.5rem 0;
}

.task-item.ongoing {
  border-left: 5px solid rgb(161, 105, 0);
}

.task-item.completed {
  border-left: 5px solid rgb(19, 122, 7);
}

.task-item .actions {
  display: flex;
  gap: 0.5rem;
}

.task-item .actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 0.3rem;
  border: 0;
  cursor: pointer;
  padding: 0;
  color: white;
}

.task-item .actions button.btn-success {
  background-color: rgb(19, 122, 7);
}

.task-item .actions button.btn-warning {
  background-color: rgb(161, 105, 0);
}

.task-item .actions button.btn-danger {
  background-color: rgb(161, 0, 0);
}

.task-item .actions button.btn-info {
  background-color: rgb(0, 102, 161);
}
